.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.detail-order{
  padding: 8px;
  background-color: #0d0a1d;
  border-radius: 5px;
}
.center-this{
  display: table;
  margin: auto;
}

.input-modifier{
  margin: auto;
}
select{
  width: 75%;
}
input{
  width: 75%;
  
}
textarea{
  width: 85%;
  height: 250px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.item-detail-table:nth-child(1){
  width: 50px;
}

.flex-container{
  display: flex;
  margin: 0;
  justify-content: space-evenly;
}
.category-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.category-item{
  display: grid;
  grid-template-rows: 3fr 1fr;
  border: 1px solid #282c34;
  border-radius: 5px;
  margin: 2px;
}
.category-item img{
  width: 20vh;
  border-radius: 6px;
}